.container {
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}



.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo h6 {
    color: #000;
    cursor: default;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 10px;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
}

.logoImage {

    width: 30%;
    height: 30%;
}

.welcome {
    font-size: 1.1rem;
    margin-bottom: 10px;
}



.departments {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
    color: var(--primmary-color);
    font-weight: 600;
    font-size: 16px;
    align-items: center;
}

.department {
    padding: 10px 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    cursor: pointer;
    width: 300px;
    transition: all 0.2s ease;
}

.department:hover {
    background-color: var(--primmary-light);
}

.access {
    display: block;
    font-size: 0.85rem;
    /* color: green; */
    color: #555;
    margin-top: 4px;
}

.logoutBtn {
    margin-top: 30px;
    padding: 10px 45px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 1px 2px #000;
}

.logoutBtn:hover {
    background-color: #ddd;
}

.backBtn {
    /* margin-top: 15px; */
    padding: 8px 16px;
    margin-bottom: 15px;
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    margin-left: 120px;
    background-color: none;
}

.backBtn:hover {
    background-color: #ddd;
}