
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.logo {
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
}

.welcomeText {
  font-size: 23px;
  color: #333;
}

.name {
  /* color: #b40000; */
  color: var(--primmary-color);
  font-weight: 500;
}

.button {
  margin-top: 20px;
  padding: 6px 35px;
  border: 2px solid var(--primmary-color);
  border-radius: 5px;
  background: white;
  /* color: #b40000; */
  /* color: var(--primmary-color); */
  color: black;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(180, 0, 0, 0.4);
  transition: all 0.2s ease;
}

.button:hover {
  /* background-color: #b40000; */
  background-color: var(--primmary-color);
  color: white;
}
