.form {
  min-width: 400px;
  width: 90% !important;
  margin: auto;
}

.feildCol {
  min-width: 400px !important;
  width: 50% !important;
}
.label,
.selectBmc label {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  width: 160px;
  min-width: 120px;
  font-size: 15px;
  font-weight: 500;
  /* text-align: right; */
}

.single .fullWidth {
  flex: 1;
}

.viewbtn {
  background-color: #6078c4;
  color: white;
  padding: 3px 10px;
  border-radius: 3px;
  border: none;
  font-weight: 600;
  font-size: 13px;
}

.input,
.textarea,
.selectBmc select {
  flex: 1;
  padding: 8px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 20px;
  min-width: 180px;
}

.textarea {
  resize: vertical;
  width: 100%;
}

.submitRow {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.submitBtn {
  background-color: #00a651;
  color: white;
  font-size: 16px;
  padding: 5px 24px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: auto 10px;
}

.submitBtn:hover {
  background-color: #008f45;
}

.cancelBtn {
  background-color: #c95151;
  color: white;
  font-size: 16px;
  padding: 5px 24px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: auto 10px;
}

.cancelBtn:hover {
  background-color: #7d3131;
}

/* ApprovalForm */
.approvedForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  top: 0;
  right: 0;
}

.approvedFeild {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.approvedRow {
  display: flex;
  gap: 10px;
}

.approvedRow label {
  flex: 1;
}

.approvedForm label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  gap: 10px;
}

.approvedForm input,
.approvedForm textarea {
  /* flex: 1; */
  /* height: 25px; */
  width: 250px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 13px;
  box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
}

.approvedForm textarea {
  width: calc(100% - 20px);
  height: 80px;
}

.approvedActions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.approvedActions button {
  padding: 8px 16px;
  background: #0070ac;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.declineBtn {
  background-color: #c95151 !important;
}

.approveBtn {
  background-color: #00ac5f !important;
}

.declineBtn,
.approveBtn {
  margin: 0 5px;
  border-radius: 18px !important;
}

.declineButton,
.approveButton,
.holdButton {
  border: none;
  width: 90px;
  border-radius: 18px;
  border: none;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  /* color: white; */
}

.declineButton {
  background-color: #f57679;
  border-radius: 18px !important;
}

.approveButton {
  background-color: #67d352;
  border-radius: 18px !important;
}

.holdButton {
  background-color: #d3d152;
}
/* Image upload */

.upload {
  max-width: 200px !important;
  min-width: 180px !important;
  margin-bottom: 20px;
  position: relative;
}

.uploadbutton {
  width: 150px;
  height: 100px;
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
}
.upload p {
  /* padding-left: 55px; */
  margin: 0;
}

.deletebtn {
  position: absolute;
  top: -8px;
  right: 23px;
  font-size: 13px;
  width: fit-content;
  padding: 2px 4px;
  border: 0.5px solid gray;
  background-color: #ff2727;
  color: white;
  border-radius: 4px;
}
.imglabel {
  width: 150px;
  font-weight: 600;
  font-size: 13px;
  line-height: 26.82px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--primary-color);
  padding: 0 !important;
}
.upload img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.selectside {
  width: 150px;
  height: 27px;
  padding-left: 4px;
  border-radius: 4px;
  /* background-color: #d9d9d9; */
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 3px #333;
  font-weight: 600;
  font-size: 16px;
  line-height: 26.82px;
  margin: 15px auto;
}

.delsec {
  width: 90% !important;
  height: 40px !important;
  margin: 5%;
  margin-top: 10px;
  /* font-family: Montserrat; */
  font-size: 16px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: left;
  color: var(--primary-color);
}

.selectmode select {
  width: 100px;
  border-radius: 3px;
  color: white;
  /* padding-right: 10px; */
}
.selectmode select option {
  background-color: white;
  color: black;
}
.selectmode select:focus {
  outline: none;
}
.head {
  font-weight: 600;
  font-size: 18px;
  line-height: 29.26px;
  letter-spacing: 1.5%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  color: #555;
}

/* delete */
.deleteContainer {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.dropdownLabel {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 4px;
}

.dropdown {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 6px;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.closeBtn {
  background-color: #28a745;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

.deleteBtn {
  background-color: #d9534f;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

.yesButton {
  background-color: #86adb6;
}

.noButton {
  background-color: #c96f6f;
}

.yesButton,
.noButton {
  width: 40%;
  margin: 15px 5%;
  padding: 5px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: none;
}

.popText {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
}

/* Approvals */
.approvedForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  top: 0;
  right: 0;
}

.approvedFeild {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.approvedRow {
  display: flex;
  gap: 10px;
}

.approvedRow label {
  flex: 1;
}

.approvedForm label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  gap: 10px;
}

.approvedForm input,
.approvedForm textarea {
  /* flex: 1; */
  /* height: 25px; */
  width: 250px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 13px;
  box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
}

.approvedForm textarea {
  width: calc(100% - 20px);
  height: 80px;
}

.approvedActions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.approvedActions button {
  padding: 8px 20px;
  background: #0070ac;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.declineBtn {
  background-color: #c95151 !important;
}

.approveBtn {
  background-color: #00ac5f !important;
}

.declineBtn,
.approveBtn {
  margin: 0 5px;
  border-radius: 18px !important;
}

.declineButton,
.approveButton,
.holdButton {
  border: none;
  width: 90px;
  border-radius: 18px;
  border: none;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  /* color: white; */
}

.declineButton {
  background-color: #f57679;
  border-radius: 18px !important;
}

.approveButton {
  background-color: #67d352;
  border-radius: 18px !important;
}

.holdButton {
  background-color: #d3d152;
}
