.trayRow {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.trayField {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.trayRow label,
.trayField label {
  margin-top: 0.4%;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.trayColumn label,
.trayField label {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.trayRow input,
.trayField input {
  padding: 8px;
  font-size: 13px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
}

.trayColumn input,
.trayField input {
  padding: 8px;
  font-size: 13px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
}
.mapContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.approvedActions {
  margin-top: 15px;
  justify-content: center;
}

.cancelButton {
  justify-content: center;
  padding: 8px 16px;
  background: #c95151;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* Accords */
.viewbtn {
  padding: 3px 10px;
  font-size: 12px;
  background-color: #78a9c4;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.mainAccord {
  width: 100%;
  padding: 25px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #76c7c0, #96d490);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.innerAccord {
  width: 100%;
  text-align: left;
  padding: 15px;
  font-weight: 500;
  background: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.bmcAccord {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-weight: 500;
  background: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.accordionContent {
  background-color: #eaeaea;
  border-radius: 5px;
}
.innerContent {
  background-color: #dbdbdb;
  border-radius: 5px;
}
.bmcContent {
  background-color: #cbcbcb;
  border-radius: 5px;
}
.villageBox {
  display: flex;
  background-color: #fff;
  width: 70%;
  align-self: flex-end;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
  margin-left: 30%;
}
.villageBox p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.approvedForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  top: 0;
  right: 0;
}

.approvedFeild {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.approvedRow {
  display: flex;
  gap: 10px;
}

.approvedRow label {
  flex: 1;
}

.approvedForm label {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  gap: 10px;
}

.approvedForm input,
.approvedForm textarea {
  /* flex: 1; */
  /* height: 25px; */
  width: 250px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 13px;
  box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
}

.approvedForm textarea {
  width: calc(100% - 20px);
  height: 80px;
}

.approvedActions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.approvedActions button {
  padding: 8px 16px;
  background: #0070ac;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.declineBtn {
  background-color: #c95151 !important;
}

.approveBtn {
  background-color: #00ac5f !important;
}

.declineBtn,
.approveBtn {
  margin: 0 5px;
  border-radius: 18px !important;
}

.declineButton,
.approveButton,
.holdButton {
  border: none;
  width: 90px;
  border-radius: 18px;
  border: none;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  /* color: white; */
}

.declineButton {
  background-color: #f57679;
  border-radius: 18px !important;
}

.approveButton {
  background-color: #67d352;
  border-radius: 18px !important;
}

.holdButton {
  background-color: #d3d152;
}
.head {
  font-weight: 600;
  font-size: 18px;
  line-height: 29.26px;
  letter-spacing: 1.5%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  color: #555;
  text-align: start;
}
