.drawerForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 10px 20px;
}

.formRow {
  display: flex;
  flex-direction: column;
}

.formRow label {
  font-weight: bold;
  
  margin-bottom: 4px;
  font-size: 14px;
}

.formRow input,
.formRow textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  width: 100%;
}

.formRow textarea {
  height: 60px;
  resize: vertical;
}

.footerButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
  margin-top: 20px;
}

.approveBtn {
  background-color: green;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.declineBtn {
  background-color: red;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.pendingBtn {
  padding: 3px 10px;
  font-size: 12px;
  background-color: #FFA500;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}


.footertrayButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.approvetrayBtn,
.declinetrayBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.approvetrayBtn {
  background-color: #28a745; /* Green */
}

.declinetrayBtn {
  background-color: #dc3545; /* Red */
}

.tableContainer {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  background-color: #E6E6E6;
  border-radius: 10px;
}