.wrapper {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
}
.tableContainer {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  background-color: #E6E6E6;
  border-radius: 10px;
}
.title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  margin-left: 150px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  
}

.leftrow {
    display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 50%;  
}
.label {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  width: 130px;
  min-width: 120px;
}

.single .fullWidth {
  flex: 1;
}

.label {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 500;
  width: 130px;
  min-width: 120px;
}

.input,
.textarea {
  flex: 1;
  padding: 8px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 20px;
  min-width: 180px;
}

.textarea {
  resize: vertical;
  width: 100%;
}


.submitRow {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.submitBtn {
  background-color: #00a651;
  color: white;
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submitBtn:hover {
  background-color: #008f45;
}
.view-btn {
  padding: 3px 10px;
  font-size: 12px;
  background-color: #2FA924;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
