.newTaskContainer {
    min-width: 600px;
    width: 60%;
    margin: auto;
    padding: 20px;
}

.newForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    top: 0;
    right: 0;
}


/* .approvedFeild {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.newRow {
    display: flex;
    gap: 10px;
    /* justify-content: center; */
}

.newRow label {
    /* flex: 1; */
    width: 160px !important;
    text-align: right;
}

.newForm label {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    gap: 10px;
}

.newForm input,
.newForm textarea,
.newForm select {
    /* flex: 1; */
    /* height: 25px; */
    width: 250px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 13px;
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
}

/* .newForm select {
    padding: 8px 16px;
    width: 270px;
} */


.newForm textarea {
    width: calc(100% - 20px);
    height: 80px;
}

.newActions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.newActions button {
    background-color: #00AC5F;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    padding: 8px 18px;
    border: none;
    font-size: 14px;
}


/* Pending Task css */
.container {
    display: flex;
    justify-content: center;
}

.pendingBtn,
.completedBtn {
    padding: 0 !important;

}

.pendingBtn>button,
.completedBtn>button {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 500;
    padding: 8px;
}

.pendingBtn {
    background-color: #C95151 !important;
}

.completedBtn {
    background-color: #22A367 !important;
}


/* Pending Task css */


/* Pending Form css */
.approvedForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    top: 0;
    right: 0;
}

.approvedFeild {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.approvedRow {
    display: flex;
    gap: 10px;
}

.approvedRow label {
    flex: 1;
}

.approvedForm label {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    gap: 10px;
}

.approvedForm input,
.approvedForm textarea {
    /* flex: 1; */
    /* height: 25px; */
    width: 250px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 13px;
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
}

.approvedForm textarea {
    width: calc(100% - 20px);
    height: 80px;
}

.approvedActions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.declineBtn {
    background-color: #00AC5F !important;
}

.approveBtn {
    background-color: #C95151 !important;

}

.approveBtn,
.declineBtn {
    border-radius: 25px;
    padding: 8px;
    border: none;
    font-weight: bold;
    color: white;
    margin-right: 20px;
}


/* button[type="button"] {
    background-color: gray;
} */

.closeIcon {
    cursor: pointer;
    color: #555;
    transition: 0.2s ease;
}

.attendanceContent {
    background-color: #588FAC38;
}

/* Pending form two css */
/* 
.upload-btn {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-btn:hover {
    background-color: #45a049;
}

.hidden-input {
    display: none;
} */