.filter-container { /* .transportContainer*/
  padding: 20px;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: start;
  margin-bottom: 20px;
  /* width: 100%; */
  /* margin-left: 200px; */
  /* direction: rtl; */
}

.filter-layout { /* .transportForm*/
  display: flex;
  gap: 10px;
  align-items: center;
  /* margin-bottom: 20px; */
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-layout label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: black;
  margin-left: 30px;
}

.filter-layout input,
.filter-layout select {
  padding: 6px 15px;
  border: 1px solid #ccc;
  border-radius: 22px;
  height: 30px;
  background-color: #efefef;
  min-width: 140px;
}

.filter-submit-btn { /* .submitTransportBtn*/
  background-color: #2fa924;
  color: white;
  padding: 4px 20px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  margin: auto 5px;
}

.filter-new-btn { /* .newbutton*/
  background-color: #a3a4a4;
  padding: 4px 20px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
}

.filter-cancel-btn { /* .cancelBtnTransport*/
  background-color: #fd3b3b;
  color: white;
  padding: 4px 20px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}
