/* Application Home css */

.container {

  /* height: 100%; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  /* background-color: #f2f2f2; */
  background-color: #42759475;
  padding: 20px;
  width: 300px;
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: grid;
  align-items: center;
}


.card h3 {
  margin-bottom: 10px;
  text-align: center;
}

.card > label {
  display: block;
  margin: 8px 0 4px;
}

.submitButton {
  width: fit-content;
  margin: auto;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  padding: 4px 8px;
  font-size: 14px;
}


/* Application Approvals */

.appContainer {
  display: flex;
  justify-content: center;
}

.completedButton {
  background-color: #22A367 !important;
  border: none;
  color: white;
  padding: 8px;
  font-weight: 500;
}

.completedBtn {
  background-color: #22A367 !important;
  border: none;
  color: white;
  padding: 8px;
  font-weight: 500;
}


/* Experience pop css */

.yesButton {
  background-color: #86ADB6;
}

.noButton {
  background-color: #C96F6F;
}

.yesButton,
.noButton {
  width: 40%;
  margin: 15px 5%;
  padding: 5px ;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: none;
}

.popText{
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
}

.popText span {
  font-weight: 600;
}


/* Pay Slip pop css */

.paySlipCotainer {
  /* display: flex; */
  width: 400px;
}

.popForm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.popForm label{
  width: 80px;
  /* text-align: right; */
  padding-right: 20px;
  font-weight: 600;
  font-size: 14px;
}

.popForm select{
  width: 200px;
  height: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
}

.paySlipBtn{
  margin-top: 15px;
  border-radius: 16px;
  width: 150px;
  border: none;
  padding: 5px;
  background-color: #22A367;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
