.departmentContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.departmentCard {
    width: 50%;
    min-width: 400px;
    padding: 18px 25px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #76c7c0, #96d490);
    border: none;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.content {
    margin: 0 !important;
}

.viewBtn {
    background-color: #6078c4;
    color: white;
    padding: 3px 10px;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    font-size: 13px;
}

/* .detailsContainer {
    padding: 20px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
    margin-right: 30px;
} */

.backBtn {
    border: none;
}

.sideBtn {
    margin-top: 10px;
    padding: 10px 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 120px;
    text-align: left;
    font-weight: 600;
    box-shadow: 1px 1px 3px #000;
    margin-right: 10px;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    gap: 20px;
}

.reportButton {
    background-color: #78a9c4;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 40px;
    border: none;
    height: 78px;
    border-radius: 8px;
    cursor: pointer;
    width: 438px;
    transition: background-color 0.2s ease;
}

.reportButton:hover {
    background-color: #5f90b0;
}