.accordionItem {
  /* border-bottom: 1px solid #ccc; */
  margin-bottom: 10px;
  /* margin: 10px; */
}

.accordionButton {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
}

.accordionContent {
  overflow: hidden;
  transition: 0.3s ease;
  padding: 0 10px;
}

.accordionContentOpen {
  padding: 10px;
}
