
.drawerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.drawer {
  background-color: #ffffff;
  width: 80%;
  max-width: 600px;
  height: 100%;
  /* padding: 20px; */
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #588facee;
  padding: 15px;
  color: black;
}

.drawerHeader button {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  line-height: 1;
}

.drawerBody {
  flex: 1;
  overflow: auto;
  padding: 20px;
}

