.navbar {
  height: 60px;
  background-color: #d9d9d9;
  /* color: white; */
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 30px;
  top: 0;
  z-index: 20;
  position: fixed;
  width: calc(100vw - 70px);
  margin-left: 70px;
}
.left h2 {
  font-size: 20px;
  font-weight: 600;
}

.aiIcon {
  margin-right: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.aiIconImg {
  width: 28px;
  height: 28px;
  object-fit: contain;
  opacity: 0.9;
  transition: 0.2s ease-in-out;
}

.aiIconImg:hover {
  opacity: 1;
  transform: scale(1.06);
}

.refreshBtn {
  background: transparent;
  font-size: 20px;
  color: black;
  border: none;
  font-weight: 600;
  position: absolute;
  left: 250px;
}

.center {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}
.searchContainer {
  position: relative;
}
.searchIcon {
  position: absolute;
  color: #333;
  right: 10px;
  top: 11px;
}

.searchInput {
  width: 250px;
  padding: 7px 12px;
  border-radius: 20px;
  max-width: 400px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: white;
  color: #333;
  border: 2px solid var(--primmary-color);
}

.brand {
  background-color: var(--primmary-color);
  margin-top: 3px;
  height: 32px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.637);
}
.brand h1 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: white;
}
.icon svg {
  width: 25px;
  /* padding-right: 50px; */
  color: black;
}
