.container {
  padding: 30px;
}
.appContainer {
  display: flex;
  justify-content: center;
}

h2 {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.deleteBtn {
  padding: 6px 14px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #c62828;
}

.popupContent {
  padding: 20px;
  justify-content: center;
}

.popupContent p {
  font-size: 16px;
  margin-bottom: 20px;
  justify-content: center;
}

.popupActions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.confirmBtn {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.cancelBtn {
  background-color: #bdbdbd;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.hiddenSetup {
  display: none;
}
