.body {
  padding: 10px;
  overflow-y: auto;
 
}

.formGroup {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: 500;
  margin-bottom: 6px;
  font-size: 16px;
}

.formGroup input {
  height: 30px;
  padding: 6px 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: -3px 0 8px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.locateBtn,
.closeBtn,
.submitBtn {
  box-shadow: -3px 0 8px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Individual Button Colors */
.locateBtn {
  background-color: #7aa7ba;
  color: white;
  padding: 8px 14px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 12px 20px;
  border-top: 1px solid #ddd;
}

.closeBtn {
  background-color: #c85151;
  color: white;
  padding: 10px 20px;
}

.submitBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
}
.editBtn {
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}