.deleteContainer {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.dropdownLabel {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 4px;
}

.dropdown {
  width: 300px;
  padding: 12px;
  font-size: 16px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 6px;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.closeBtn {
  background-color: #28a745;
  color: white;
  font-weight: 600;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

.deleteBtn {
  background-color: #d9534f;
  color: white;
  font-weight: 600;
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}
