.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.searchBox {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  z-index: 10;
  border-radius: 4px;
  outline: none;
  background-color: #ffffffcc;
}

.popupBtn {
  
  display: flex;
  justify-content: center;
  padding: 15px;
  padding-bottom: 0;
  
}
.popcontent{
  width: 400px;
}

.popcontent h3{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}
.popcontent p {
  padding-left: 30px;
  font-size: 14px;
  font-weight: 600;
}
.popcontent span{
  font-weight: 500;
}
