
.confirmBtn {
  background-color: #86ADB6;
}

.cancelBtn {
  background-color: #C96F6F;
}
.confirmBtn,
.cancelBtn{
  width: 40%;
  margin: 15px 5%;
  padding: 5px ;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: none;
}
.popupActions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.popupContent h3 {
  margin-bottom: 10px;
  justify-content: center;
}

.hiddenDeleteSetup {
  display: none;
}

.viewBtn{
    background-color: #397595;
  color: white;
  height: 30px;
  top: 3667px;
  left: 1130px;
  border: none;
  cursor: pointer;
  width: 60px;
  justify-content: flex-start;
}
.deleteBtn{
    background-color: #C95151;
    color: white;
    height: 30px;
    width: 60px;
    border: none;
    justify-content: flex-end;
}

.appContainer {
  display: flex;
  justify-content: center;
}
.square-table{
    border-spacing: 0;
    
}

.square-table thead th {
    background-color: #80BBC5;
    color: #FFFFFF;
    font-weight: 600;
    padding: 8px;
    font-size: 14px;
    justify-content: center;
}

.square-table tbody td {
    background-color: #DDDDDD;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 10px;
    justify-content: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #e5e5e5;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

input:checked + .slider {
  background-color: #4cd964;
}

input:checked + .slider::before {
  transform: translateX(22px);
}
